*{
    margin: 0;
    padding: 0;
    font-family: "poppins",sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #ffffff;
    padding: 50px;
    border-radius: 10px;
    background: #6cb8dd;
}


body {
    background-color: #6cb8dd;
    overflow: hidden;
}


.container h2 {
    text-align: center;
    color: #ffffff;
}

.container input {
    width: 70%;
    padding: 13px;
    margin-top: 20px;
    border-radius: 20px;
    outline: none;
    border: 0;
    background-color: #ffffff;
    color: #414141;
    text-transform: capitalize;
    box-shadow: 4px 4px;
}

.container button {
    padding: 9px;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 25px;
    outline: none;
    border: 0;
    float:right;
    transition: 0.3s ease;
    width: 15%;
    background: #ffffff;
    color: #000000;
    box-shadow: 4px 4px;
    cursor: pointer;

}

i {
    font-size: 20px;
}

.container div {
    background: #ffffff;
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
    text-align: center;

}

p {
    background: #6cb8dd;
    color: #fff;
    border-radius: 20px;
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
    box-shadow: 4px 4px #414141;
}


h5 {
    text-align: center;
    color: #ffffff;
}

.descricao {
    color: #4b4848;
    font-weight: 600;
    margin-bottom: 10px;
}

a{
    color: #6cb8dd;
    font-size: 20px;
}

i {
    font-size: 20px;
}

.bi-arrow-left-circle-fill{
    font-size: 35px;
}

/*Responsividade*/

@media (max-width: 768px) { 
    
.container {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #ffffff;
    padding:50px;
    max-width: 410px;
    border-radius: 20px;
    border: none;
}

body {
    background-color: #6cb8dd;
}


.container h2 {
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 1.4em;
    margin-bottom: 15px;
}

.container input {
    width: 73%;
    padding: 13px;
    margin-top: 20px;
    border-radius: 20px;
    outline: none;
    border: 0;
    background-color: #ffffff;
    color: #414141;
    text-transform: capitalize;
    box-shadow: 5px 5px 5px;
}

.container button {
    width: 100%;
    padding: 9px;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 25px;
    outline: none;
    border: 0;
    float:right;
    transition: 0.3s ease;
    width: 15%;
    background: #ffffff;
    color: #000000;
    box-shadow: 5px 5px 5px;
    cursor: pointer;

}

i {
    font-size: 20px;
}

.container div {
    background: #ffffff;
    margin-top: 50px;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

p {
    background-color: #6cb8dd;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    font-size: 19px;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 15px;
    box-shadow: 4px 4px #414141;
}

h5 {
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 1px;
    margin-bottom: 20px;
}

.descricao {
    color: #4b4848;
    font-weight: 600;
    margin-bottom: 20px;
}

a{
    color: #6cb8dd;
    font-size: 20px;
}

i {
    font-size: 20px;
}

.bi-arrow-left-circle-fill{
    font-size: 35px;
}

}